 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
    /* header section start */
    body{
        position: relative;
        right: 0px;
    left: 0px;
    }
    header{
        position: sticky;
        right: 0px;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
.nav{
   
    background-color: #989e9e;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}
.nav img{
    width: 80px;
    height: 80px;
}
.nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
   
    
}
menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
}
.nav ul li{
   
    list-style: none;
    margin: 15px;
    text-align: center;
    padding: 8px;
    
}
.nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    
}

/* header section end */
main{
    position: sticky;
    left: 0px;
    right: 0px;
    
}
main .banner-section{
   background-image: url('../images/background1.jpg');
    width: 100%;
    height: 150vh;
    background-size: cover;
    

}
.overlay{
    background: #0a0a0aec;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text p{
    color: #7f8c8d;
    font-size: 1.5rem;
}
.text h1{
    color: #fff;
    font-size: 2.5rem;
}
.btn{
    background: none;
    color: #ffffff;
    border: 0px;
    width: 15%;
    height: 35px;
    padding: 2px;
}
#btn{
    background: #fbff0085;
    border: 1px solid #ffd700;
    border-radius: 8px;
    width: 15%;
    height: 35px;
    padding: 2px;
    color: rgb(6, 29, 236);
}
.btn:hover{
    background-color: #0ac0b1;
    transition-delay: 0.2s;
    border-radius: 8px;
}
#btn:hover{
    background-color: #ffe4c4;
    transition-delay: 0.2s;
    border: 1px solid #ffd700;
    border-radius: 8px;
    color: #0c0c0b;
}
.another-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
}
.section-one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 25px;
}
.section-two{
    width: 50%;
    border-left: 1px solid black;
    margin-top: 15px;
    padding-left: 50px;
}
 h3{
   font-size: 35px;
}
h6{
    font-size: 20px;
}
h5{
    font-size: 25px;
}
p{
    font-size: 20px;
    margin-bottom: 20px;
}
.pragraph{
    margin-top: 10px;
}

.link{
    background-color: #c79c11;
    width: 100%;
    height: 50px;
    text-decoration: none;
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    color: #fff;
   border-radius: 8px;
}
.trainer{
    background: #f9f9f9;
   padding: 8rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.about{
    width: 39%;
    
}
.about h2{
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.1rem;
}
.about p{
    color: #7f8c8d;
    font-size: 1.1rem;
    
}
.people{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.people .team-1{
    
    width: 45%;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    1.9px 4.5px 3.6px rgba(0, 0, 0, 0.026),
    5.3px 12.5px 10px rgba(0, 0, 0, 0.04),
    12.7px 30.1px 24.1px rgba(0, 0, 0, 0.056),
    42px 100px 80px rgba(0, 0, 0, 0.09)
  ;
}

.people .team-1 .img img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}
.people .team-1 .name, .people .team-1 .profesion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.people .team-1 .name h4{
    color: #212529;
    font-size: 1.5rem;
    padding-left: 10px;
}
.people .team-1 .profesion p{
    color: #7f8c8d;
    font-size: 1.1rem;
    padding-left: 10px;
}
.image{
    width: 25%;
    height: 50%;
    padding: 15px;
}
.icon{
    color: #212529;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 10px;
}
.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 8rem;
}
.paragraph{
    margin-bottom: -3px;
    font-size: 1.3rem;
    color: #95a5a6;
    text-align: center;
}
.h2{
    font-size: 2.2rem;
    color: #222;
    font-weight: 700;
}
.classItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.classItem .img img{
    width: 100%;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
}

.classMenu{
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow:
    1.9px 4.5px 3.6px rgba(0, 0, 0, 0.026),
    5.3px 12.5px 10px rgba(0, 0, 0, 0.04),
    12.7px 30.1px 24.1px rgba(0, 0, 0, 0.056),
    42px 100px 80px rgba(0, 0, 0, 0.09)
  ;
}
.num h5{
   background-color: #f80a0a;
   padding: 10px;
   border-radius: 100%;
}
.classMenuContainer{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.teamDetails{
    padding: 15px;
}
