 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
    /* header section start */
    body{
        position: relative;
        right: 0px;
    left: 0px;
    }
    header{
        position: sticky;
        right: 0px;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
.nav{
   
    background-color: #989e9e;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}
.nav img{
    width: 80px;
    height: 80px;
}
.nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
   
    
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav #bar{
    display: none;
}
.icon{
    margin: 10px;
    color: #ffffff;
    font-size: 15px;
}
#icon{
    color: #fff;
}

.nav ul li{
   
    list-style: none;
    margin: 0px;
    text-align: center;
    padding: 0px;
    
}
.nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    
}

/* header section end */
/* main section  start */
main{
    position: sticky;
    left: 0px;
    right: 0px;
    
}
main .banner-section{
   background-image: url('../images/background1.jpg');
    width: 100%;
    height: 150vh;
    background-size: cover;
   
    

}
.overlay{
    background: #0a0a0aec;
    width: 100%;
    height: 100%;
    opacity: 0.85;
   
}
.text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.text p{
    color: #7f8c8d;
    font-size: 1.5rem;
}
.text h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
}
.btn{
    background: none;
    color: #ffffff;
    font-size: 0.9rem;
    border: 0px;
    width: 15%;
    height: 35px;
    padding: 2px;
}
#btn{
    background: none;
    border: 1px solid #ffd700;
    border-radius: 8px;
    width: 15%;
    height: 35px;
    padding: 2px;
    color: #ffffff;
}
.btn:hover{
    background-color: #0ac0b1;
    transition-delay: 0.2s;
    border-radius: 8px;
}
#btn:hover{
    background-color: #ffe4c4;
    transition-delay: 0.2s;
    border: 1px solid #ffd700;
    border-radius: 8px;
    color: #0c0c0b;
}
.another-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
}
.section-one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 25px;
}
.section-two{
    width: 50%;
    border-left: 1px solid black;
    margin-top: 15px;
    padding-left: 50px;
}
 h3{
   font-size: 35px;
}
h6{
    font-size: 20px;
}
h5{
    font-size: 25px;
}
p{
    font-size: 20px;
    margin-bottom: 20px;
}
.pragraph{
    text-align: justify;
    margin-top: 10px;
}

.link{
    background-color: #c79c11;
    width: 100%;
    height: 50px;
    text-decoration: none;
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    color: #fff;
   border-radius: 8px;
}
.trainer{
    background: #f9f9f9;
   padding: 6rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.about{
    width: 39%;
    
}
.about h2{
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.1rem;
}
.about p{
    color: #7f8c8d;
    text-align: justify;
    font-size: 1.3rem;
    
}
.people{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.people .team-1{
    
    width: 45%;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    1.9px 4.5px 3.6px rgba(0, 0, 0, 0.026),
    5.3px 12.5px 10px rgba(0, 0, 0, 0.04),
    12.7px 30.1px 24.1px rgba(0, 0, 0, 0.056),
    42px 100px 80px rgba(0, 0, 0, 0.09)
  ;
}

.people .team-1 .img img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}
.people .team-1 .name, .people .team-1 .profesion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.people .team-1 .name h4{
    color: #212529;
    font-size: 1.5rem;
    padding-left: 10px;
}
.people .team-1 .profesion p{
    color: #7f8c8d;
    font-size: 1.1rem;
    padding-left: 10px;
}
.image{
    width: 25%;
    height: 50%;
    padding: 15px;
}
.icon{
    color: #212529;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 10px;
}
.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 8rem;
}
.paragraph{
    margin-bottom: -3px;
    font-size: 1.3rem;
    color: #95a5a6;
    text-align: center;
}
.h2{
    font-size: 2.2rem;
    color: #222;
    font-weight: 700;
}
.classItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.classItem .img img{
    width: 100%;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
}

.classMenu{
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow:
    1.9px 4.5px 3.6px rgba(0, 0, 0, 0.026),
    5.3px 12.5px 10px rgba(0, 0, 0, 0.04),
    12.7px 30.1px 24.1px rgba(0, 0, 0, 0.056),
    42px 100px 80px rgba(0, 0, 0, 0.09)
  ;
}
.num h5{
   background-color: #f8550a;
   padding: 10px;
   border-radius: 100%;
}
.classMenuContainer{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.teamDetails{
    padding: 15px;
}
.contactform{
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form{
    width: 40%;
}
 .form h2{
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}
.subimt{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   border: 1px solid #000000;
   margin-top: 25px;
   padding: 25px;
   padding-right: 50px;
   padding-left: 20px;
   border-radius: 8px;
}
.input{
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
}
#input{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
}
.linkItem{
    width: 103%;
    background-color: #f8550a;
    margin-top: 15PX;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.fa{
    color: #e6d1d1;
}
.footer{
    background-color: #212529;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.copyritePragraph{
    font-size: 0.5rem;
    color: #fff;
   }
.contactLink{
    font-size: 0.9rem;  
    color: #d9deee;
}
.contactLink>i{
    color: #fff;
}
@media screen and (max-width: 1042px){
  
.nav{
   padding-right:1rem;
   padding-left: 1rem;
}
.nav img{
    width: 80px;
    height: 80px;
}
.nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
   
    
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
}
.nav ul li{
   
    list-style: none;
    margin: 15px;
    text-align: center;
    padding: 8px;
    
}
.nav ul li a{
    text-decoration: none;
    font: size 0.05rem;;
    color: #ffffff;
    
}
.btn:hover{
    background-color: #0ac0b1;
   
}
#btn:hover{
    background-color: #ffe4c4;
    
   
}

}
@media screen and (max-width: 991px){
   
   
.nav{
   padding-right: 1rem 3rem;
}
.nav img{
    width: 80px;
    height: 80px;
}
.nav ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
#menu{
    flex-direction: column;
    text-align: center;
    position: fixed;
    width: 300px;
    height: 80vh;
    top: 0px;
    right: -300px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100000;
    margin-top: 5rem;
    transition: 0.5s;
}

.nav #bar{
    padding-top: 1.8rem;
    padding-right: 1.8rem;
    display: initial;
    cursor: pointer;
}
.icon{
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
}
.nav ul li{
  padding: 4px 0px; 
}
.nav ul li a{
    font-size: 1rem;
}  
main{
    position: sticky;
    left: 0px;
    right: 0px;
    
}
main .banner-section{
   background-position: 100%;
}
.overlay{
    background: #0a0a0aec;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text p{
    color: #7f8c8d;
    font-size: 1.5rem;
}
.text h1{
    color: #fff;
    font-size: 2.9rem;
}
.btn{
    width: 25%;
    font-size: 0.7rem;
}
#btn{
    width: 25%;
    font-size: 0.7rem;
    color: #fff;
}
.btn:hover{
    background-color: #0ac0b1;
    
}
#btn:hover{
    background-color: #ffe4c4;
}
.another-section{
    padding: 4rem;
}
.trainer{
    padding: 4rem;
}
.trainer>.about{
    width: 30%;
}
.trainer>.about>h2{
    font-size: 1.5rem;
}
.trainer>.about>p{
    font-size: 0.95rem;  
}
.trainer>.people{
    width: 65%;
}
.class{
    padding: 4rem;
}
.class>.classMenuContainer>h4{
 font-size: 1rem;
}
.strongPragraph{
    font-size: 0.9rem;
}
.classDetailsPragraph{
    font-size: 0.9rem;
}
.contactform{
    padding: 4rem;
}
.contactform>.form{
    width: 40%;
}
.contactform>.form>h2{
    font-size: 1.7rem;
}
.contactform>.map{
    width: 55%;
}
.contactform>.map>h2{
    font-size: 1.7rem;
}
.contactform>.map>p{
    font-size: 0.85rem;
}
}
@media screen and (max-width: 768px){ 
    .banner-section{
        background-position: 100%;
    }
    .text{
        width: 80%;
    }
     .text>p{
        font-size: 0.9rem;
     }
     .text>h1{
        font-size: 2.3rem;
     }
     .btn{
        width: 25%;
       font-size: 0.6rem;
     }
     #btn{
        width: 25%;
        font-size: 0.6rem;
     }
     .another-section{
        
        padding: 1.5rem;
    }
    .heading-5{
        font-size: 1.6rem;
    }
    .heading-6{
        font-size: 1rem;
    }
   .trainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
   }
   .trainer>.about{
    width: 90%;
}
.trainer>.about>h2{
    font-size: 1.8rem;
}
.trainer>.about>p{
    font-size: 1rem;  
}
.trainer>.people{
    width: 90%;
}
.class{
    padding: 1.5rem;
}
.classMenu{
    width: 32%;
}
.yoga{
 font-size: 1.5rem;
}
.strongPragraph{
    font-size: 0.7rem;
}
.classDetailsPragraph{
    font-size: 0.9rem;
}
.contactform{
    padding: 1.5rem;
}
.contactform>.form{
    width: 40%;
}
.contactform>.form>h2{
    font-size: 1.2rem;
}
.contactform>.map{
    width: 55%;
}
.contactform>.map>h2{
    font-size: 1.2rem;
}
.contactform>.map>p{
    font-size: 0.85rem;
}
    
}
@media screen and (max-width: 496px){
    .banner-section{
        background-position: 100%;
    }
    .text{
        width: 80%;
    }
     .text>p{
        font-size: 0.9rem;
     }
     .text>h1{
        font-size: 2.3rem;
     }
     .btn{
        width: 25%;
       font-size: 0.6rem;
     }
     #btn{
        width: 25%;
        font-size: 0.6rem;
     }
     .another-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2.5rem;
    }
    .section-one{
        width: 100%;
    }
    .section-two{
        text-align: center;
        width: 90%;
        border-top: 1px solid gray;
        border-left: none;
    }
    .heading-5{
        font-size: 1rem;
    }
    .h3{
        font-size: 1.5rem;
    }
    .heading-6{
        font-size: 1rem;
    }
   .trainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 5rem;
   }
   .trainer>.about{
        width: 100%;
    }
    .trainer>.about>h2{
        font-size: 1.8rem;
    }
    .trainer>.about>p{
        font-size: 1rem;  
    }
    .trainer>.people{
        
        flex-direction: column;
        justify-content: center;
       
    }
    .trainer>.people>.team-1{
        width: 100%;
        margin-top: 1rem;
        
    }
    .class{
        padding: 1.5rem;
    }
    .classMenuContainer{
        flex-direction: column;
        justify-content: center;
        padding: 1rem 5rem;
    }
    .classMenu{
        width: 100%;
        margin-top: 1rem;
    }
  
    .yoga{
    font-size: 1.5rem;
    }
    .strongPragraph{
        font-size: 0.7rem;
    }
    .classDetailsPragraph{
        font-size: 0.9rem;
    }
    .contactform{
        flex-direction: column;
        padding: 1rem 5rem;
    }
    .contactform>.form{
        width: 100%;
    }
    .contactform>.form>h2{
        font-size: 1.2rem;
    }
    .contactform>.map{
        width:100%;
        margin-top: 1rem;
        height: 100vh;
    }
    .contactform>.map>h2{
        font-size: 1.2rem;
    }
    .contactform>.map>p{
        font-size: 0.85rem;
    }  
}